#SideBarToggle {
  align-items: center;
  display: flex;
  width: 224px;
  a {
    text-decoration: none;
  }
  .Logo {
    display: flex;
    img {
      height: 24px;
      width: 80px;
    }
    span {
      color: #333;
      font-size: 10px;
      font-weight: 500;
      margin-left: 2px;
      opacity: .6;
      text-transform: uppercase;
    }
  }
}
